@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #36393f;
    color: white;
}

/* Nav Menu */

.NavMenu {
    margin-top: 50px;
    margin-bottom: 50px;
}

.NavMenuAvatarImg {
    border-radius: 50%;
    width: 40%;
}

.NavMenuAvatarImg2 {
    border-radius: 50%;
    width: 5%;
}

.avatarMargin {
    margin-left: 5%;
}

.NavMenuAvatar {
    width: 25%;
    margin-left: 75%;
}

.NavMenuIcon {
    border-radius: 50px;
    display: inline;
    width: 5%;
    margin-right: 5%;
}

.NavMenuInline {
    display: inline;
}

.NavMenuButton {
    background-color: #5865f2;
    width: 100px;
    border-radius: 10px;
}

/* Utils */

.LinkItem {
    margin-left: 10px;
    margin-right: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.centerMargin {
    margin-top: 20%;
}

/* Guild Display */

.guildIcon {
    border-radius: 50%;
    width: 7% !important;
    margin-left: 46.5%;
    margin-bottom: 2%;
}

.GuildImgStuff {
    text-align: center;
    align-items: center;
    padding-top: 5%;
}

.guildName {
    display: inline;
}

.permissionText {
    padding-top: 1%;
}

/* Guild Listing */

.viewGuildButton {
    background-color: #5865f2;
    width: 150px;
    border-radius: 10px;
}

/* Settings */

.settingCategory {
    margin-top: 5%;
    margin-bottom: 5%;
}